* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: fixed; 
}

.header {
    background-color: palevioletred;
    color: black;
    padding: 0px;
    padding-left: 15px;
    
    top: 10px; 
    width: 100%; 
} 

.header h1 {
    font-size: 35px;
    margin: 15px;
}

.header div {
    margin-right: 100px;
    float: right;
}

.navigation-list li{
    list-style-type:none;
    display: inline-block;
    margin-left: 25px;
    padding-bottom: 15px;
    
}    

a {
    color:gainsboro;
    text-decoration: none;
    font-weight: bolder;
}

.content {
    background-color: white;
    text-align: center;
}

#workers {
    border: 20px;
    border-width: 20px;
    border-style: double;
    padding: 12px;
    border-color: palevioletred;
}

#Maintenance {
    color: black;
    padding: 20px;
}

.contact {
    color: black;
    padding: 20px;
    text-align: center;
}

#smallbox {
    margin-right: 450px;
    margin-left: 450px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: palevioletred;
}

.foot {
    text-align: center;
    font-style: italic;
}

body {
    background-color: gainsboro;
}